<% content_for :title, "Confirmation" %>
<%= render "partials/header" %>

<div class="col-md-12 col-xs-12 txt-c mtxxxl">
    <span class="title h1">About Page</span>
</div>
<div class="col-md-6 col-md-offset-3 col-xs-12 mtl">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe praesentium ab, ullam a quaerat pariatur magni! Temporibus quisquam voluptas animi dolore nam debitis molestiae, mollitia asperiores fuga quod, rem illum.
    </p>
</div>