<%= render "partials/header" %>

<div class="col-md-12 col-xs-12 txt-c mtxxxl">
    <span class="title h1">PWS Rails Skeleton</span>
</div>
<div class="cta txt-c">
    <%= link_to 'About Page', '/about.html', :relative => true, :class => "btn btn-default mtl" %>
</div>