<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <%= link_to(image_tag("pws_rails-logo.svg", :class => "logo"), root_path) %>
            </div>
        </div>
    </div>
</header>